In [1]:
import pandas as pd

In [3]:
data_1970s = pd.read_csv("data/1970_1979_data.csv")
data_1980s = pd.read_csv("data/1980_1989_data.csv")
data_1990s = pd.read_csv("data/1990_1999_data.csv")
data_2000s = pd.read_csv("data/2000_2009_data.csv")
data_2010s = pd.read_csv("data/2010_2019_data.csv")

In [12]:
# Combine the data into one dataframe
weather_df = pd.concat([data_1970s, data_1980s, data_1990s, data_2000s, data_2010s])
weather_df

,Date,Maximum Temperature degrees (F),Minimum Temperature degrees (F),Precipitation (inches),Snow (inches),Snow Depth (inches)
0,1970-01-01,24.0,15.0,0.01,0.40,19.00
1,1970-01-02,19.0,-6.0,0.01,0.10,19.00
2,1970-01-03,10.0,-9.0,T,0.10,19.00
3,1970-01-04,12.0,-15.0,0.02,0.80,20.00
4,1970-01-05,0.0,-15.0,T,T,19.00
...,...,...,...,...,...,...
3904,2020-09-09,50.0,41.0,0.14,0.00,0.00
3905,2020-09-10,60.0,38.0,0.00,0.00,M
3906,2020-09-11,59.0,44.0,0.07,0.00,0.00
3907,2020-09-12,64.0,55.0,0.03,0.00,0.00
3908,2020-09-13,73.0,52.0,0.00,0.00,0.00

In [9]:
# Check for any nan values
weather_df.isna().sum()

Date                               0
Maximum Temperature degrees (F)    0
Minimum Temperature degrees (F)    0
Precipitation (inches)             0
Snow (inches)                      0
Snow Depth (inches)                0
dtype: int64

In [42]:
weather_df.loc[weather_df["Snow Depth (inches)"] == "M"]

,Date,Maximum Temperature degrees (F),Minimum Temperature degrees (F),Precipitation (inches),Snow (inches),Snow Depth (inches)
2637,1997-03-22,42.0,30.0,0.00,0.00,M
2638,1997-03-23,37.0,27.0,0.00,0.00,M
2639,1997-03-24,33.0,27.0,0.30,3.00,M
2642,1997-03-27,66.0,31.0,0.00,0.00,M
2643,1997-03-28,55.0,37.0,0,0.00,M
2644,1997-03-29,52.0,38.0,0,0.00,M
2645,1997-03-30,41.0,23.0,0.00,0.00,M
2646,1997-03-31,57.0,23.0,0.00,0.00,M
2647,1997-04-01,69.0,42.0,0.00,0.00,M
2648,1997-04-02,62.0,37.0,0.04,0.00,M
2649,1997-04-03,61.0,30.0,0.00,0.00,M
2650,1997-04-04,65.0,48.0,0.05,0.00,M
2651,1997-04-05,57.0,49.0,0.54,0.00,M
2652,1997-04-06,51.0,16.0,0.01,0.20,M
2653,1997-04-07,28.0,14.0,0,0,M
2654,1997-04-08,31.0,9.0,0.00,0.00,M
2655,1997-04-09,37.0,15.0,0.00,0.00,M
2656,1997-04-10,33.0,27.0,0.04,0.40,M
2657,1997-04-11,42.0,21.0,0.00,0.00,M
2658,1997-04-12,48.0,25.0,0.00,0.00,M
2659,1997-04-13,52.0,24.0,0.00,0.00,M
2660,1997-04-14,57.0,26.0,0.00,0.00,M
2661,1997-04-15,49.0,30.0,0.00,0.00,M
2662,1997-04-16,43.0,24.0,0,0,M
2663,1997-04-17,55.0,21.0,0.00,0.00,M
2664,1997-04-18,52.0,42.0,0.11,0.00,M
2665,1997-04-19,67.0,36.0,0.00,0.00,M
2666,1997-04-20,64.0,38.0,0.05,0.00,M
2667,1997-04-21,62.0,43.0,0.01,0.00,M
2668,1997-04-22,59.0,37.0,0.00,0.00,M
2669,1997-04-23,55.0,40.0,0.00,0.00,M
2670,1997-04-24,60.0,31.0,0.00,0.00,M
2671,1997-04-25,65.0,31.0,0.00,0.00,M
2672,1997-04-26,64.0,35.0,0.00,0.00,M
2673,1997-04-27,64.0,36.0,0.02,0.00,M
2674,1997-04-28,69.0,31.0,0,0.00,M
2675,1997-04-29,72.0,45.0,0.10,0.00,M
2676,1997-04-30,47.0,35.0,0.04,0.00,M
3891,2020-08-27,88.0,72.0,0.00,0.00,M
3905,2020-09-10,60.0,38.0,0.00,0.00,M

In [38]:
weather_df.loc[weather_df["Precipitation (inches)"] == "T"].count()

Date                               3373
Maximum Temperature degrees (F)    3373
Minimum Temperature degrees (F)    3373
Precipitation (inches)             3373
Snow (inches)                      3373
Snow Depth (inches)                3373
dtype: int64

### All but temp columns are object types. Need to convert.

In [39]:
# First, need to change T (trace). Trace is less than 0.01 inches, so feel fine setting to zero.
weather_df = weather_df.replace("T", 0)
weather_df.loc[weather_df["Precipitation (inches)"] == "T"].count()

Date                               0
Maximum Temperature degrees (F)    0
Minimum Temperature degrees (F)    0
Precipitation (inches)             0
Snow (inches)                      0
Snow Depth (inches)                0
dtype: int64

In [51]:
# M in data means missing data. Checking through the records, there was no snow on the ground, convert to zero.
weather_df = weather_df.replace("M", 0)

In [56]:
# Convert date to datetime
weather_df["Date"] = pd.to_datetime(weather_df["Date"])

In [60]:
weather_df['Precipitation (inches)'] = pd.to_numeric(weather_df['Precipitation (inches)'])
weather_df['Snow (inches)'] = pd.to_numeric(weather_df['Snow (inches)'])
weather_df['Snow Depth (inches)'] = pd.to_numeric(weather_df['Snow Depth (inches)'])

In [61]:
weather_df.dtypes

Date                               datetime64[ns]
Maximum Temperature degrees (F)           float64
Minimum Temperature degrees (F)           float64
Precipitation (inches)                    float64
Snow (inches)                             float64
Snow Depth (inches)                       float64
dtype: object

## Analyzing Trends